<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>bubbleBank</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>  

        <!-- Top Navigation Menu -->
            <div class="topnav">
                <img style="float:right;" src="BBlogo.png" alt="bubbleBank() logo" width="70" height="70">
                <img style="float:right;" src="BBnaamlogo.png" alt="bubbleBank() logo" width = "300">
            <!-- <a href="#home" class="active"></a> -->
            <div id="myLinks"><br>
                <a href="index.html">Home</a>
                <a href="register.html">Mijn account</a>
                <a href="my_portfolio.html">Mijn portfolio</a>
                <a href="AboutUs.html">Over ons</a>
            </div>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
<body>
    

    <form action="" class="register">
        <h1>Welkom bij bubbleBank().<br></h1>
        <fieldset class="row1">
        <h2>
            Dit project is met veel <strike>bloed zweet en tranen</strike> <em>plezier</em> gemaakt door:<br><br>
            Abdulkadir, David, Jan-Jaap, Mark en Roger
        </h2>
        <img src="5piglets.jpg" alt="5 piglets" style="width:100%;" >
</body>

<script>
    
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }

</script>
</html>